{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1>Sensors - Calibration</h1>
{% endblock %}

{% block content %}

    <table class="record_properties table table-striped table-bordered table-filtered">
        <thead>
            <tr>
                <th> Id </th>
                <th> SPU </th>
                <th> Address </th>
                <th> X (empty)  </th>
                <th> Y (empty) </th>
                <th> X (with car) </th>
                <th> Y (with car) </th>
                <th> X (calibration)  </th>
                <th> Y (calibration) </th>
                <th filter="false"> Latest lectures </th>
            </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sensor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.spuid }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.xEmpty }}</td>
                <td>{{ entity.yEmpty }}</td>
                <td>{{ entity.xFull }}</td>
                <td>{{ entity.yFull }}</td>
                <td>{{ entity.x }}</td>
                <td>{{ entity.y }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sensor_calibration_value', { 'id': entity.id, 'type': 'empty' }) }}">Set calibration values as empty</a>
                        </li>
                        <li>
                            <a href="{{ path('sensor_calibration_value', { 'id': entity.id, 'type': 'car' }) }}">Set calibration values with car</a>
                        </li>
                        <li>
                            <a href="{{ path('sensor_calibration_mode', { 'id': entity.id, 'state': 'normal' }) }}"> back to normal state</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

