{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1> Edit Sensor {{ entity.id }} </h1>
{% endblock %}

{% block content %}

    <ul class="record_actions tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('sensor_list') }}">
                Back to list
            </a>
        </li>
    </ul>


    <form action="{{ path('sensor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn primary" type="submit">Save</button>
        </p>
    </form>

    <form action="{{ path('sensor_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn" type="submit">Delete</button>
    </form>
{% endblock %}