{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1>Sensors - List</h1>
{% endblock %}

{% block content %}

    <ul class="tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('sensor_new') }}">
                Add Sensor
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered table-filtered">
        <thead>
            <tr>
                <th> Id </th>
                <th> SPU </th>
                <th> Address </th>
                <th> State </th>
                <th> Date </th>
                <th filter="false"> Options </th>
            </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sensor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.spuid }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.dateFormated }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sensor_show', { 'id': entity.id }) }}">View</a>
                        </li>
                        <li>
                            <a href="{{ path('sensor_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                        {%if entity.state == 'calibration' %}
                            <li>
                                <a href="{{ path('sensor_calibration_mode', { 'id': entity.id, 'state': 'normal' }) }}"> back to normal state</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('sensor_calibration_mode', { 'id': entity.id, 'state': 'calibration'}) }}">Put on calibration mode</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

