{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1>Create new Sensor</h1>
{% endblock %}

{% block content %}

    <ul class="record_actions tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('sensor_list') }}">
                Back to list
            </a>
        </li>
    </ul>

    <form action="{{ path('sensor_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn primary" type="submit">Create</button>
        </p>
    </form>

{% endblock %}