{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1> Sensor {{ entity.id }} </h1>

{% endblock %}

{% block content %}

    <ul class="record_actions tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('sensor_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('sensor_list') }}">
                Back to list
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Sensor Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sensor Process Unit Id</th>
                <td>{{ entity.spuid }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            
            <tr>
                <th>Date</th>
                <td>{{ entity.dateFormated }}</td>
            </tr>
            <tr>
                <th>Parking Type</th>
                <td>{{ entity.parkingType }}</td>
            </tr>
            <tr>
                <th>Map Coordinates</th>
                <td>
                    <ul>
                        X: {{ entity.mapX }}
                    </ul>
                    <ul>
                        Y: {{ entity.mapY }}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Values</th>
                <td>
                    <ul>
                        <li>
                            <h6> Empty: </h6>
                            {% if entity.xEmpty is null and entity.yEmpty is null%}
                                Sensor not calibrated yet
                            {% else %}
                                X: {{ entity.xEmpty }} Y: {{ entity.yEmpty }}
                            {% endif %}
                        </li>
                        <li>
                            <h6>With car: </h6>
                            {% if entity.xFull is null and entity.yFull is null %}
                                Sensor not calibrated yet
                            {% else %}
                                X: {{ entity.xFull }} Y: {{ entity.yFull }}
                            {% endif %}
                        </li>
                        <li>
                            <h6>Last Reading:</h6>
                            {% if entity.x is null and entity.y is null %}
                                Sensor without readings
                            {% else %}
                                X: {{ entity.x }} Y: {{ entity.y }}
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>

    <form action="{{ path('sensor_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn primary" type="submit">Delete</button>
    </form>

{% endblock %}

