.content {
    margin: 20px;
}

#front-nav-title {
    color: #ffffff;
    font-size: 25px;
}

#front-map {
    width: 900px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

#select_map {
    width: 410px;
    height: 35px;
    margin: 50px auto;
    display: block;
}

.dinamicImg {
    position: relative;
}

.loading_img {
    position: relative;
    width: 80px;
    left: 410px;
    top: 260px;
}