{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block content %}
<h1> Argos Admin bundle </h1>
    {% if info %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            <strong> {{ info }} </strong>
        </div>
    {% endif %}
{% endblock %}