<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title> Argopolis {% block title %}{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        {% stylesheets
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap.css'
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap-responsive.css'
            '@ArgosFrontBundle/Resources/public/css/front.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner"> <h4 id="front-nav-title"> Argopolis </h4> </div>
        </div>

        <div class="content">
            {% block page_title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        {% javascripts
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/js/bootstrap.js'
            '@ArgosFrontBundle/Resources/public/js/front.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
