{% extends 'ArgosFrontBundle::layout.html.twig' %}

{% block content %}

    <select id="select_map" name="select_map">
        <option selected disabled>Tria una unitat per veure el mapa en temps real</option>
        {% for id, content in selectOptions %}
            <option value="{{ content.value }}">{{ content.content }}</option>
        {% endfor %}
    </select>

    <div id="front-map" class="img-polaroid">
        {% image '@ArgosFrontBundle/Resources/public/img/loading.gif' %}
            <img class="loading_img" id="loading" src="{{ asset_url }}" style="display: none;"> </img>
        {% endimage %}
    </div>

    {% image '@ArgosFrontBundle/Resources/public/img/empty.png' %}
        <img id="parking_empty" src="{{ asset_url }}" alt="normal" style="display: none;"> </img>
    {% endimage %}

    {% image '@ArgosFrontBundle/Resources/public/img/minusv.png' %}
        <img id="parking_empty_minus" src="{{ asset_url }}" alt="normal" style="display: none;"> </img>
    {% endimage %}

    {% image '@ArgosFrontBundle/Resources/public/img/excess_time.png' %}
        <img id="parking_excess" src="{{ asset_url }}" alt="normal" style="display: none;"> </img>
    {% endimage %}

    {% image '@ArgosFrontBundle/Resources/public/img/busy.png' %}
        <img id="parking_busy" src="{{ asset_url }}" alt="normal" style="display: none;"> </img>
    {% endimage %}




{% endblock %}





