<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title> Argopolis - Admin - {% block title %}{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        {% stylesheets
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap.css'
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap-responsive.css'
            '@ArgosAdminBundle/Resources/public/css/admin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="{{ path('admin_index') }}"> Argopolis - Admin</a>
                <ul class="nav">
                    <li><a href="{{ path('spu_list') }}">Sensor Process Units</a></li>
                    <li><a href="{{ path('sensor_list') }}">Sensors</a></li> 
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sensor_calibrate') }}">Calibration</a></li>
                            <li><a href="{{ path('admin_clear_cache') }}">Clear Cache</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">
            {% block page_title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        {% javascripts
            '@ArgosAdminBundle/Resources/public/vendor/bootstrap/js/bootstrap.js'
            '@ArgosAdminBundle/Resources/public/vendor/TableFilter/picnet.table.filter.min.js'
            '@ArgosAdminBundle/Resources/public/vendor/TableFilter/tableFilter.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
