{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1> Edit SPU 
        {% if entity.description %}
           - {{ entity.description }}
        {% else %}
            {{ entity.id }}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}

    <ul class="record_actions tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('spu_list') }}">
                Back to list
            </a>
        </li>
    </ul>


    <form action="{{ path('spu_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn primary" type="submit">Save</button>
        </p>
    </form>

    <form action="{{ path('spu_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn" type="submit">Delete</button>
    </form>
{% endblock %}