{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1>Sensor Process Units - List</h1>
{% endblock %}

{% block content %}

    <ul class="tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('spu_new') }}">
                Add Sensor Process Unit
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered table-filtered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Timeout</th>
                <th>Sensors Ids</th>
                <th>Last Reading IP</th>
                <th filter="false">Options</th>
            </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('spu_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.timeout }}</td>
                <td> 
                     {% for sensorid in entity.sensorsIds%}
                        {{sensorid ~ ' - '}}
                     {% endfor %}
                </td>
                <td>{{ entity.lastReadingIP }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('spu_show', { 'id': entity.id }) }}">View</a>
                        </li>
                        <li>
                            <a href="{{ path('spu_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                        <li>
                            <a href="{{ path('upload_map', { 'id': entity.id }) }}">Upload Map</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

