{% extends 'ArgosAdminBundle::layout.html.twig' %}

{% block page_title %}
    <h1> Sensor Process Unit 
        {% if entity.description %}
           - {{ entity.description }}
        {% else %}
            {{ entity.id }}
        {% endif %}
    </h1>

{% endblock %}

{% block content %}

    <ul class="record_actions tabs nav nav-pills">
        <li class="active">
            <a href="{{ path('spu_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li class="active">
            <a href="{{  path('upload_map', { 'id': entity.id })  }}">
                Upload Map
            </a>
        </li>
        <li>
            <a href="{{ path('spu_list') }}">
                Back to list
            </a>
        </li>
    </ul>

    <table class="record_properties table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Timeout</th>
                <td>{{ entity.timeout }}</td>
            </tr>
            <tr>
                <th>Last Reading IP</th>
                <td>{{ entity.lastReadingIP }}</td>
            </tr>
            <tr>
                <th>Sensors Ids</th>
                <td>
                    <ul>
                        {% for sensorid in entity.sensorsIds %}
                            <li>
                                <a href="{{ path('sensor_show', { 'id':sensorid}) }}">Sensor {{sensorid}}</a> - <a href="{{ path('spu_delete_sensor', { 'sensorId':sensorid, 'spuid':entity.id} ) }}">Remove</a>  
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>

    <form action="{{ path('spu_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn primary" type="submit">Delete</button>
    </form>

{% endblock %}

