{% extends 'ArgosAdminBundle::layout.html.twig' %}


{%  block page_title %}
    <div class="import_form">
        <h2 id="map_title"> Map Import for SPU {{ spu_id }}  </h2>
{% endblock %}

{% block content %}
        {% if info.msg  %}
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert">×</a>
                <strong> {{ info.msg }} </strong>
            </div>
            {% if info.backbutton  %}
                <ul class="record_actions tabs nav nav-pills">
                    <li class="active">
                        <a href="{{  path('spu_list')  }}">
                            Go Back
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
        {% if errorMsg  %}
            <div class="alert alert-block alert-error">
                <a class="close" data-dismiss="alert">×</a>
                <strong> {{ errorMsg }} </strong>
            </div>
            <ul class="record_actions tabs nav nav-pills">
                <li class="active">
                    <a href="{{  path('upload_map', { 'id': spu_id })  }}">
                        Try Again
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if form  %}
            <form action="{{ path('upload_map_submited', { 'id': spu_id } ) }}" method="post" {{ form_enctype(form) }}>
                <div id="map_form">
                    {{ form_widget(form) }}
                </div>
                <p id="map_submit_button">
                    <button class="btn btn-primary" type="submit">Upload Map</button>
                </p>
            </form>
        {% endif %}
    </div>
{% endblock %}