.content {
    margin: 20px;
}

#sp_adminbundle_metrictype_whereConditions {
    width: 800px;
}

#sp_adminbundle_duplicatemetrictype_metrics {
    width: 800px;
    height: 500px;
}

.import_form {
    width: 400px;
    margin: 30px auto;
}

#map_submit_button {
    width: 150px;
    margin: 20px auto;
}

#map_form {
    width: 270px;
    margin: 20px auto;
}

#map_title {
    text-align: center;
}